[Unit]
Description=TTS Server
After=pulseaudio.service
Wants=pulseaudio.service

[Service]
Type=simple
User=root
Group=audio
WorkingDirectory=/root/tts-server

Environment="PULSE_SERVER=unix:/run/user/0/pulse/native"
Environment="PULSE_COOKIE=/run/user/0/pulse/cookie"

# Запуск
ExecStart=/usr/bin/python3 /root/tts-server/tts_server_pcm.py

Restart=on-failure
RestartSec=5

NoNewPrivileges=no
PrivateTmp=no
ProtectSystem=no

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target